<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'new_score_card' %}" method="POST">
        {% csrf_token %}
        {{newCard}}
        <br><input type="submit" value="OK">
    </form>
</body>
</html>