<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'who_judged' %}" method="post">
        {% csrf_token %}
        {{ newCard }}
        <button type="submit" value="Add the scores"></button>
    </form>
</body>
</html>