<html>
<body>
    <h1>judge information</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            {{form.as_p}}
        </div>
        <button type="submit">submit</button>
    </form>
</body>
</html>